<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/d24920b36a.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/feed.css">
    <title>Good Vibe Zone - Feed</title>
</head>
<body>
    <nav>
        <section class="navButton">
            <a href="/post/createPost" class="btn btn-outline-secondary btn-lg">Create Post</a>
        </section>
        <section>
            <a href="/profile" class="btn btn-outline-secondary btn-lg">Home</a>
        </section>
        <section>
            <a href="/logout" class="btn btn-outline-secondary btn-lg">Sign Out</a>
        </section>
    </nav>
    <h1>Good Vibe Zone Feed</h1>
    <main class="mainContainer">
        <div class="col-8">
    
            <% for(var i=0; i<posts.length; i++) {%>
                <section class="postContainer">
                        <a href="/post/<%= posts[i]._id%>">
                            <img class="img-fluid" src="<%= posts[i].image%>">
                        </a>
                        <section class="textContainer">
                            <p><%= posts[i].caption%></p>
                            
                            <section class="innerRightSide">
                                

                                <% if(posts[i].user == user.id){%>
                                    <form action="/post/deletePost/<%= posts[i]._id %>?_method=DELETE" method="POST">
                                        <button class="fa-solid fa-trash"></button>
                                    </form>
                                <%}%>
                                <form class="col-1" action="/post/likePost/<%= posts[i]._id %>?_method=PUT" method="POST">
                                    <button class="fa-regular fa-heart" type="submit"></button>
                                </form>
                                
                                <!-- <i class="fa-regular fa-heart"></i> -->
                                <span><%= posts[i].likes%></span>
                            </section>
                            
                        </section>
                        
                        <section class="commentsContainer">

                            <form action="/comment/createComment/<%= posts[i]._id%>" method="POST">
                                <label for="comment" class="form-label">Add Comment</label>
                                <textarea class="form-control" id="comment" name="comment"></textarea>
                                <br>
                                <button type="submit" class="btn btn-outline-secondary">Post Comment</button>
                            </form>

                        </section>
                        <br>
                        <h6>Comments:</h6>
                        
                        <section>
                            <%for(let j = 0; j < comments.length; j++){%>
                                <!-- Whenever you compare ID and such from mongo DB make sure to convert them to STRING!!! It will save you plenty of time. Often times comapring Object Id's can result in a condidiotnal statment to be false even though by logic it is true.  -->
                                <% if(String(comments[j].postID) == String(posts[i]._id)){%>
                                    <p>
                                        <%= comments[j].comment %>
                                    </p>
                                <%}%>
                            <%}%>
                        </section>

                </section>
            <% } %>
    
        </div>
    </main>




</body>
</html>